<div class="select-your-organization">
	{{#each rows}}
		<div class="row organization{{css_classes}}">
			<div class="col-lg-12">
				<h3>{{name}}</h3>
				<a class="btn btn-primary btn-lg btn-block" href="{{link}}">{{button_text}} <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
				{{{desc}}}
			</div>
		</div>
		{{#if providers}}
		<div class="row organization providers{{css_classes}}">
			<div class="col-lg-12">
					<h5>Pick Up Providers in your area:</h5>
					<p><small>{{#each providers}}<span class="pick-up-provider">{{store_name}}</span>{{/each}}</small></p>
			</div>
		</div>
		{{/if}}
		{{#if ads}}
			{{{ads}}}
		{{/if}}
		<hr />
	{{/each}}
</div>